.footer {
    background: $dark;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 9rem;
    @include breakpoint($sm-bp) {
        padding-left: 3.073rem;
        padding-right: 3.073rem;
        flex-direction: column;
    }
}

.footer__logo {
    width: 12rem;
    @include breakpoint($sm-bp) {
        width: 14rem;
    }
}

.footer__form {
    @include breakpoint($sm-bp) {
        margin-top: 8rem;
    }
}

.footer__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

    form {
        display: grid;
        margin-bottom: 1.5rem;
        @include breakpoint($sm-bp) {
            margin-bottom: 5.9rem;
        }
    }

    input {
        grid-row: 1/1;
        grid-column: 1/1;
    }
    .footer__form_btn {
        grid-row: 1/1;
        grid-column: 1/1;
        width: 5rem;
        margin-left: calc(100% - 5.5rem);
        background: none;
        outline: none;
        border: unset;
        cursor: pointer;
        @include breakpoint($sm-bp) {
            width: 10rem;
            margin-left: calc(100% - 11.5rem);
        }

        &:hover,
        &:focus,
        &:active {
            img {
                transform: translateX(2rem);
            }
        }
        img {
            width: 5rem;
            transition: transform .4s;
            @include breakpoint($sm-bp) {
                width: 10rem;
            }
        }
    }
}

input {
    background: unset;
    outline: none;
    border: unset;
    border-bottom: 1px solid rgba(208, 208, 214, 1);
    height: 5rem;
    font-family: 'Gilroy';
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    color: white;
    transition: .4s;
    @include breakpoint($mid-bp) {
        font-size: 2rem;
    }
    @include breakpoint($sm-bp) {
        font-size: 2.8rem;
        height: 6.5rem;
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom: 1px solid $orange;
    }
}

.footer__form_text {
    color: white;
    margin: 0 0 1rem;
}

.footer__col2 {
    display: flex;
    width: 48.7%;
    padding-top: 2.5rem;
    @include breakpoint($sm-bp) {
        width: 100%;
    }

    .text-normal {
        color: white;
        @include breakpoint($sm-bp) {
            margin-bottom: 2rem;
        }    
    }
}

.footer__col2_services {
    width: 43%;
    @include breakpoint($sm-bp) {
        width: 53%;
    }
}

.footer__services_list {
    margin: 0;
    padding: 0;
}

.footer__services_item {
    list-style: none;
    margin-bottom: 1rem;

    .text-light {
        text-decoration: none;
        transition: color .4s;

        &:hover,
        &:focus,
        &:active {
            color: $orange;
        }
    }
}

.footer__contacts {
    width: 57%;
    @include breakpoint($sm-bp) {
        width: 47%;
    }

    .text-light {
        display: block;
        text-decoration: none;
        transition: color .4s;
        margin-bottom: 1rem;
        @include breakpoint($sm-bp) {
            max-width: 90%;
        }

        &:hover,
        &:focus,
        &:active {
            color: $orange;
        }
    }
}