.modal {
    display: none;
    position: fixed;
    z-index: 111;
    padding-top: 20rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {

    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    width: 50%;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.2),0 0.6rem 2rem 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    @include breakpoint($sm-bp) {
        flex-direction: column-reverse;
        width: 80%;
        align-items: center;
    }

    .modal-content__imgContainer {
        width: 100%;

        @include breakpoint($sm-bp) {
            width: 40%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    form {
        display: flex;
        width: 100%;

        label {
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 150%;
            color: #27272E;
        }

        input {
            margin-bottom: 1rem;
            color: #27272E;
        }

        .modal-content__inpContainer {
            display: flex;
            flex-direction: column;
            width: 88%;
            justify-content: center;

            button {
                background: none;
                justify-content: center;
                align-items: center;
                color: #27272E;
                margin-bottom: 2rem;

                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}


@-webkit-keyframes animatetop {
    from {top:-30rem; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-30rem; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: #27272E;
    float: right;
    font-size: 5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0.2rem 1.6rem;
    color: white;
}