<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-content__imgContainer">
            <img src="./assets/images/cactusOrange.png" alt="#">
        </div>
        <form action="">
            <div class="modal-content__inpContainer">
                <label for="#">Ваше имя</label>
                <input placeholder="Имя" name="name" type="text">
                <label for="#">Ваше почта</label>
                <input placeholder="Почта" name="mail" type="email">
                <label for="#">Ваш телефон</label>
                <input placeholder="Телефон" name="phone" type="tel">
                <button type="submit" class="btn">Отправить</button>
            </div>
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
        </form>
    </div>
</div>