<section class="pop-up pop-up-thanks">
    <div class="pop-up__close"></div>
    <div class="thanks__body">
        <div class="thanks__img-wrap">
            <img class="desktop" src="assets/images/thanks-img.svg" alt="dashed line">
            <img class="mobile" src="assets/images/line-mob.svg" alt="dashed line">
        </div>
        <div class="thanks__text-wrap">
            <p data-text="Спасибо за" class="thanks__title white">Спасибо за</p>
            <p class="thanks__title">#заявку </p>
            <p class="text-normal">Мы получили ваше сообщение и скоро<br>&nbsp;свяжемся с вами</p>
        </div>
    </div>
</section>