<section class="pop-up pop-up-vacancy">
    <div class="pop-up__close"></div>
    <div class="pop-up-vacancy__body">
        <div class="pop-up-vacancy__wrap">
            <div data-vacancy="vac-1" class="vacancy-block">
                <p class="pop-up-vacancy__title subtitle">Веб-дизайнер (Trainee)</p>
                <p class="pop-up-vacancy__light text-light">Офис, Full time</p>
                <p class="pop-up-vacancy__paragr">
                    Отличная новость для тех, кто не имеет опыта, но хочет попробовать себя в веб-дизайне! Мы расширяем команду и набираем дизайнеров без опыта с обучением и возможностью трудоустройства. 
                </p>
                <p class="pop-up-vacancy__paragr">
                    Что будет входить в твои обязанности:
                </p>
                <ul>
                    <li>
                        продумывание и разработка концептов будущих сайтов;    
                    </li>
                    <li>
                        прорисовка прототипов;
                    </li>
                    <li>
                        сбор референсов;
                    </li>
                    <li>
                        отрисовка отдельных блоков и элементов дизайна;
                    </li>
                    <li>
                        дизайн страниц;
                    </li>
                    <li>                    
                        тренировка насмотренности и обучение на реальных проектах.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Чего мы от тебя ждем? В первую очередь упорства в достижении своих целей, а также чувство прекрасного и владение основными инструментами дизайна (Figma, PS и т. д.). Здорово, если ты имеешь портфолио - смело присылай его нам.
                </p>
                <p class="pop-up-vacancy__paragr">
                    Условия:
                </p>
                <ul>
                    <li>
                        карьерный рост;
                    </li>
                    <li>
                        работа в офисе, пн-пт с 9.00 до 18.00;
                    </li>
                    <li>
                        возможность трудоустройства;
                    </li>
                    <li>
                        молодая и дружная команда;
                    </li>
                    <li>
                        чай, кофе, печеньки.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Свое резюме вместе с портфолио можно присылать сюда <a class="vacancy__mail-link" href="mailto:yar@bydesign.by">yar@bydesign.by</a>. При отправке письма укажи тему “Вакансия веб-дизайнер trainee”.    
                </p>        
            </div> 
            <div data-vacancy="vac-2" class="vacancy-block">
                <p class="pop-up-vacancy__title subtitle">Frontend developer (Middle+)</p>
                <p class="pop-up-vacancy__light text-light">Офис, Full time</p>
                <p class="pop-up-vacancy__paragr">
                    Чего мы от тебя ждем? В первую очередь упорства в достижении своих целей, а также чувство прекрасного и владение основными инструментами дизайна (Figma, PS и т. д.). Здорово, если ты имеешь портфолио - смело присылай его нам.
                </p>
                <p class="pop-up-vacancy__paragr">
                    Условия:
                </p>
                <ul>
                    <li>
                        карьерный рост;
                    </li>
                    <li>
                        работа в офисе, пн-пт с 9.00 до 18.00;
                    </li>
                    <li>
                        возможность трудоустройства;
                    </li>
                    <li>
                        молодая и дружная команда;
                    </li>
                    <li>
                        чай, кофе, печеньки.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Свое резюме вместе с портфолио можно присылать сюда <a class="vacancy__mail-link" href="mailto:yar@bydesign.by">yar@bydesign.by</a>. При отправке письма укажи тему “Вакансия веб-дизайнер trainee”.    
                </p>        
            </div>    
            <div data-vacancy="vac-3" class="vacancy-block">
                <p class="pop-up-vacancy__title subtitle">Backend developer (Middle+)</p>
                <p class="pop-up-vacancy__light text-light">Офис, Full time</p>
                <p class="pop-up-vacancy__paragr">
                    Отличная новость для тех, кто не имеет опыта, но хочет попробовать себя в веб-дизайне! Мы расширяем команду и набираем дизайнеров без опыта с обучением и возможностью трудоустройства. 
                </p>
                <p class="pop-up-vacancy__paragr">
                    Что будет входить в твои обязанности:
                </p>
                <ul>
                    <li>
                        продумывание и разработка концептов будущих сайтов;    
                    </li>
                    <li>
                        прорисовка прототипов;
                    </li>
                    <li>
                        сбор референсов;
                    </li>
                    <li>
                        отрисовка отдельных блоков и элементов дизайна;
                    </li>
                    <li>
                        дизайн страниц;
                    </li>
                    <li>                    
                        тренировка насмотренности и обучение на реальных проектах.
                    </li>
                </ul>
                <ul>
                    <li>
                        продумывание и разработка концептов будущих сайтов;    
                    </li>
                    <li>
                        прорисовка прототипов;
                    </li>
                    <li>
                        сбор референсов;
                    </li>
                    <li>
                        отрисовка отдельных блоков и элементов дизайна;
                    </li>
                    <li>
                        дизайн страниц;
                    </li>
                    <li>                    
                        тренировка насмотренности и обучение на реальных проектах.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Чего мы от тебя ждем? В первую очередь упорства в достижении своих целей, а также чувство прекрасного и владение основными инструментами дизайна (Figma, PS и т. д.). Здорово, если ты имеешь портфолио - смело присылай его нам.
                </p>
                <p class="pop-up-vacancy__paragr">
                    Условия:
                </p>
                <ul>
                    <li>
                        карьерный рост;
                    </li>
                    <li>
                        работа в офисе, пн-пт с 9.00 до 18.00;
                    </li>
                    <li>
                        возможность трудоустройства;
                    </li>
                    <li>
                        молодая и дружная команда;
                    </li>
                    <li>
                        чай, кофе, печеньки.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Свое резюме вместе с портфолио можно присылать сюда <a class="vacancy__mail-link" href="mailto:yar@bydesign.by">yar@bydesign.by</a>. При отправке письма укажи тему “Вакансия веб-дизайнер trainee”.    
                </p>        
            </div>    
            <div data-vacancy="vac-4" class="vacancy-block">
                <p class="pop-up-vacancy__title subtitle">Backend developer (junior)</p>
                <p class="pop-up-vacancy__light text-light">Офис, Full time</p>
                <p class="pop-up-vacancy__paragr">
                    Отличная новость для тех, кто не имеет опыта, но хочет попробовать себя в веб-дизайне! Мы расширяем команду и набираем дизайнеров без опыта с обучением и возможностью трудоустройства. 
                </p>
                <p class="pop-up-vacancy__paragr">
                    Что будет входить в твои обязанности:
                </p>
                <ul>
                    <li>
                        продумывание и разработка концептов будущих сайтов;    
                    </li>
                    <li>
                        прорисовка прототипов;
                    </li>
                    <li>
                        сбор референсов;
                    </li>
                    <li>
                        отрисовка отдельных блоков и элементов дизайна;
                    </li>
                    <li>
                        дизайн страниц;
                    </li>
                    <li>                    
                        тренировка насмотренности и обучение на реальных проектах.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Чего мы от тебя ждем? В первую очередь упорства в достижении своих целей, а также чувство прекрасного и владение основными инструментами дизайна (Figma, PS и т. д.). Здорово, если ты имеешь портфолио - смело присылай его нам.
                </p>
                <p class="pop-up-vacancy__paragr">
                    Условия:
                </p>
                <ul>
                    <li>
                        карьерный рост;
                    </li>
                    <li>
                        работа в офисе, пн-пт с 9.00 до 18.00;
                    </li>
                    <li>
                        возможность трудоустройства;
                    </li>
                    <li>
                        молодая и дружная команда;
                    </li>
                    <li>
                        чай, кофе, печеньки.
                    </li>
                </ul>
                <p class="pop-up-vacancy__paragr">
                    Свое резюме вместе с портфолио можно присылать сюда <a class="vacancy__mail-link" href="mailto:yar@bydesign.by">yar@bydesign.by</a>. При отправке письма укажи тему “Вакансия веб-дизайнер trainee”.    
                </p>        
            </div>       
        </div>
        <p class="pop-up-vacancy__bottom-text">
            А это главный член нашей команды, с ним придется подружиться
        </p>
        <img class="pop-up-vacancy__line" src="assets/images/pop-up-line.svg" alt="line">
        <img class="pop-up-vacancy__img" src="assets/images/cactus.svg" alt="cactus">    
    </div>
</section>