<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>
  {{> header }}
  {{> menu }}
  {{> modal }}
  <main>

    {{> body }}

  </main>

  {{> footer }}

  <!-- JS -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <script defer src="assets/vendor/scroll-lock/scroll-lock.min.js"></script>
  <script defer src="assets/vendor/swiper/swiper.min.js"></script>
  <script defer src="assets/js/app.js"></script>

  <!-- <div class="preloader">
    <div class="loader">
      <aside class="loader__box loader--left">
        <span class="loader__circle">
          <img src="../assets/images/cactusGreen.png" alt="">
        </span>
      </aside>
      <aside class="loader__box loader--right">
        <span class="loader__circle">
          <img src="../assets/images/cactusOrange.png" alt="">
        </span>
      </aside>
    </div>
  </div> -->
</body>

</html>